<body id="page_show" class="">
  <div id="infobox" class="light">
    <%= link_to 'Home', floors_path, :class => "link" %>
    <%= link_to 'Edit', edit_floor_path(@floor), :class => "link" %>
    
    <strong>Map Name:</strong>
    
    <%= @floor.name %>
    <strong style="padding-left:10px">Floor Number:</strong>
    <%= @floor.level %>
    <p id="noteditwarning">You need to be in edit mode to change room colours</p>
  </div>
  <div id="floor_container">
    <object id="floor" 
      type="image/svg+xml" 
      class="centered floor<%= @floor.level %>"
      data="<%= asset_path('floor'+@floor.level.to_s+'.svg') %>" 
    ></object>
  </div>
  <!--<div class="svgContainer">-->
  <!--</div>-->
  <%= javascript_include_tag "floor" %>
</body>